#section1{
background-image: url("https://p4css.github.io/webScroll/assets/taipei-1.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

#section2 {
background-image: url("https://p4css.github.io/webScroll/assets/taipei-2.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

#section3 {
background-image: url("https://p4css.github.io/webScroll/assets/taipei-3.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

#section4 {
background-image: url("https://p4css.github.io/webScroll/assets/taipei-4.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}