body {
    background-color: #d9d9d9;
    font-family: "Noto Serif TC", serif;
    font-size: 20px;
    line-height: 2;
    text-align: center;
  }
  
  .cover {
    background-image: url("https://i.imgur.com/o74X2Rs.jpg");
    background-size: cover;
    background-position: center center;
    z-index: -1;
    text-align: center;
    padding-top: 50vh;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .cover h3 {
    padding: 10px;
  }
  
  #overlay1 {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
  }
  
  .slide1animate {
    padding: 40vh 200px 50px;
    text-align: center;
    color: white;
    width: 100%;
    visibility: hidden;
  }
  .slide1 {
    animation-name: slide;
    animation-duration: 1s;
    visibility: visible;
  }
  
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
  #v1frame {
    text-align: center;
    padding-top: 40vh;
    color: white;
    background-color: black;
  }
  
  .right-column {
    margin-left: 45%;
    text-align: left;
  }
  
  .text-box {
    width: 80px; /* 设置方块的宽度 */
    height: 40px; /* 设置方块的高度 */
    background-color: #e89394;
    color: #fff; /* 设置文字颜色为白色 */
    text-align: center; /* 设置文字水平居中 */
    line-height: 40px; /* 设置行高等于方块高度，使文字垂直居中 */
    margin-bottom: 20px;
    border-radius: 10px; /* 圓弧半徑 */
  }
  
  
  #invisible{
  text-align: left;
    padding: 50px 250px 50px;
  }
  
  #invisible h3{
    border-radius: 20px;
  border: 4px solid #DC9796;
    line-height: 5;
    text-align: center;
  }
  
  #outer{
     position: absolute;
  }
  
  .animated slide{
    visibility: invisible;
  }
  
  .slide {
    visibility: visible;  
  
  }
  
  
  #dayandnight{
     padding:0px 250px 50px;
  }
  
  .describe{
    padding:0px ;
    text-align: left;
  }
  