body {
  background-color: #d9d9d9;
  font-family: "Noto Serif TC", serif;
  font-size: 20px;
  line-height: 2;
  text-align: center;
  padding: 40vh 200px 50px;
}
#act p{
  text-align: left;

}

#acttitle {
  border-radius: 20px;
  border: 4px solid #dc9796;
  line-height: 5;
  text-align: center;
}

#actsticky {
  padding: 30px;
  text-align: left;
}


.col-md-4 {
  margin-right: 20px; /* 增加右側間距，避免圖片貼緊文字 */
}

.right-column{
  margin-left: 55%;
  text-align: left;
}

#life h3{
background-color: #d9d9d9;
  width: 100vw;
  color: #000; /* 調整文字顏色 */
  text-align: center; /* 調整文字對齊方式 */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 50px; /* 調整內邊距，以達到你想要的樣式 */
}

#trust h3{
background-color: #d9d9d9;
  width: 100vw;
  color: #000; /* 調整文字顏色 */
  text-align: center; /* 調整文字對齊方式 */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 50px; /* 調整內邊距，以達到你想要的樣式 */
}